

#MainList{
    
    grid-row: 2;
    grid-column: 2 / span 5;

    margin-top: 20px;

    display: grid;
    grid-template-columns: 13% auto auto auto auto auto 13%;
    grid-template-rows: auto auto auto auto auto auto auto;
    

    /* grid-template-columns: 13% auto auto auto auto auto 13%; */
}

#recommendedFilms{
    width: 100%;
    margin-top: 20px;
    
    grid-row: 3;
    grid-column: 2 / span 5;

}

#titleRecommendations{
    display: flex;
    border-bottom: 1px solid black;
    width: 100%;
    margin-bottom: 10px;
}

#recommendedFilmsContent{

    padding: 10px;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: auto auto auto auto auto auto;
}

#recommendedFilmCard{
    text-decoration: none;
}

#filmTitle{
    color: black;
}

#ratingNowInTheaters{
    color: black;
}