

main{
    /* height: auto; */
    display: grid;
    grid-template-columns: 13% auto auto auto auto auto 13%;
    grid-template-rows: auto auto auto auto auto auto;

    min-height: calc(100vh - 120px);
}


@media (max-width: 1024px){
    main {
        grid-template-columns: 10% auto auto auto auto auto 10%;
    }
}