#AuthModal{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    width: 500px;
    height: fit-content;
    border: 1px solid black;
    background-color: white;
    z-index: 20;
    padding: 10px;
}

#RegModal{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 10px;
    width: 500px;
    height: fit-content;
    border: 1px solid black;
    background-color: white;
    z-index: 20;
    padding: 10px;
}

#AuthRegTop{
    display: flex;
    justify-content: center;
}

#AuthRegMiddle{
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.inputDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputText{
    background-color: #ECECEC;
    border-radius: 10px;
    border: 1px solid black;
    width: 300px;
}

#AuthRegBottom{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#submitButt{
    border: 0;
    padding: 10px;
    padding-inline: 50px;
    margin: 10px;
    /* margin-left: auto;
    margin-right: auto; антон, я це на повному серйозі хотів це залишити, але передумав, так що посидиш тільки із 1 марджином))) (але він адекватний хоча б)*/ 
    height: min-content;
    width: min-content;
    background-color: #1882FF;
    color: white;
    border-radius: 50px;
    align-self: center;
}

.inputTitle{
    width: 300px;
    text-align: start;
}

#loginButtonHeader{
    border: 0;
    background-color: transparent;
    color: white;
}

.SignInUpQuest{
    background-color: transparent;
    border: 0;
    text-decoration: underline;
    color: blue;
}

#forgotPassword{
    text-decoration: underline;
    color: blue;
    width: max-content;
}

#inputDivTop{
    display: flex;
    text-align: start;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 300px;
}