#footer_main{
    background-color: #1882FF;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 160px; */
    gap: 160px;
    height: 60px;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

#svg{
    width: 15.58px;
    height: 14.09px;
}

#icons{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}