#footer_main{
    background-color: #1882FF;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding: 0 160px; */
    gap: 160px;
    height: 60px;
    width: calc(100vw - 17px);
    /* margin-top: 700px; */
    /* position: absolute; */
    /* bottom: 0; */
    color: white;
}

#svg{
    width: 15.58px;
    height: 14.09px;
}

#icons{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}