header {
    background-color: #1882FF;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 157px;
    /* padding: 0 220px; */
    height: 66px;
    position: absolute;
    top: 0;
    width: 100vw;
    
}

#loginImg {
    width: 25px;
}

#catalogNews {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

#Catalog{
    padding:10.5px;
}
#News{
    padding:10.5px;
}

#searchLogin {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 10px;
}

#SpaceFilmh2 {
    font-size: 36px;
}

#inputSearch {
    width: 200px;
    height: 30px;
    border-radius: 15px;
    padding: 10px;
}