@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

body {
    font-family: 'Inter';
    /* display: flex; */

}

.Maindiv{
    /* width: 100vw; */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    gap: 30px;
}