

main{
    grid-row: 2;
    /* height: auto; */
    /* display: grid;
    grid-template-columns: 13% auto auto auto auto auto 13%;
    grid-template-rows: auto auto auto auto auto auto; */
    
    min-height: calc(100vh - 120px);
}

