body {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
}

.Div {
    width: 567px;
    height: 40px;
}

.Text {
    position: absolute;
    width: 300px;
    height: 34px;
    font-size: 28px;
    line-height: 34px;
    color: #747A84;
}

.hr {
    position: absolute;
    width: 567px;
    height: 1px;
    top: 118px;
    background: #000000;
}

.overviewDiv {
    width: 567px;
    height: 156px;
}

.overviewTextDiv {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    gap: 3px;
    width: 128px;
    height: 24px;
}

.sideline {
    width: 1px;
    height: 20px;
    background: #000000;
}

.overviewText {
    width: 93px;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
    color: #000000;
}

.overviewDivInfo {
    position: absolute;
    width: 566px;
    height: 132px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 5px;
}

.BornText {
    position: absolute;
    width: 37px;
    height: 19px;
    left: 11px;
    top: 13px;
    font-size: 16px;
    line-height: 19px;
    color: #52555B;
}

.BornInfo {
    position: absolute;
    width: 405px;
    height: 19px;
    left: 58px;
    top: 13px;
    font-size: 16px;
    line-height: 19px;
    color: #747A84;
}

.HeightText {
    position: absolute;
    width: 52px;
    height: 19px;
    left: 11px;
    top: 57px;
    font-size: 16px;
    line-height: 19px;
    color: #52555B;
}

.HeightInfo {
    position: absolute;
    width: 75px;
    height: 19px;
    left: 73px;
    top: 57px;
    font-size: 16px;
    line-height: 19px;
    color: #747A84;
}

.ParentsText {
    position: absolute;
    width: 60px;
    height: 19px;
    left: 11px;
    top: 98px;
    font-size: 16px;
    line-height: 19px;
    color: #52555B;
}

.ParentsInfo {
    position: absolute;
    width: 350px;
    height: 19px;
    left: 81px;
    top: 98px;
    font-size: 16px;
    line-height: 19px;
    color: #747A84;
}

.line {
    width: 554px;
    height: 1px;
    background: rgba(0, 0, 0, 0.12);
}

#overviewFirstLine {
    position: absolute;
    left: 6px;
    top: 45px;
}

#overviewSecondLine {
    position: absolute;
    left: 6px;
    top: 86px;
}

#overviewThirdLine {
    position: absolute;
    left: 6px;
    top: 128px;
}

.containerMainActor { 
    display: grid;
    grid-template-columns: auto 1fr; 
    grid-template-rows: auto;
    gap: 10px; 
    width: 100%;
    align-items: start; 
    grid-column: 2;
    padding: 20px;
}

.MainOfMainDiv {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}

.actorDivImage {
    grid-row: span 4; 
}

.biographyDiv {
    width: 629px;
    height: auto;
}

.biographyTextDiv {
    display: flex;
    align-items: center;
    gap: 3px;
    padding-bottom: 5px;
}

.biographySideline {
    width: 1px;
    height: 20px;
    background: #000000;
}

.biographyText {
    font-size: 20px;
    line-height: 24px;
}

.biographyDivInfo {
    line-height: 19px;
    color: #52555B;
}

.filmsAndSerialsTextDiv {
    display: flex;
    align-items: center;
    gap: 3px;
    padding-bottom: 5px;
}

.filmsAndSerialsSideline {
    width: 1px;
    height: 20px;
    background: #000000;
}

.filmsAndSerialsText {
    font-size: 20px;
}

.filmsAndSerialsDiv {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(4, 140px); 
    gap: 10px;
    padding: 0px;
}

.filmsAndSerialsInformationDiv {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 128px;
}

#imgFilm {
    height: 184px;
    width: 128px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 5px;
}

#filmTitle {
    font-size: 16px;
    margin: 0;
    max-width: 128px;
    text-align: left;
    line-height: 1.2; 
    height: 34px; 
    overflow: hidden; 
}

.ratingFilmsAndSerials {
    display: flex;
    align-items: center;
    gap: 5px;
    height: 15px;
}

#filmStars {
    font-size: 16px;
    color: #FFD700; 
    margin: 0 0 5px;
}

#percentText {
    font-size: 12px;
    color: #555;
    margin: 0 0 4px;
}

#descriptionFilm {
    font-size: 10px;
    color: gray;
    margin: 0;
    line-height: 1.4;
    max-width: 128px;
}

#ViewAllButtonFilmsAndSerials {
    border-radius: 15px;
    width: 100px;
    height: 30px;
    background-color: white;
    border: 1px solid black;
    margin-left: 315px;
}

#ViewAllButtonFilmsAndSerials:hover{
    background-color: #1882FF;
    transition: ease-in-out 300ms;
    color: white;
}

.actorImage {
    width: 350px;
    height: 400px;
    border-radius: 10px;
}