

.carouselDiv{
    overflow:hidden;
    position: relative;
    /* width: 1000px; */
    grid-column: 2 / span 5;
    grid-row: 2;;
}

.slides{
    display: flex;
    transition: transform ease-out 700ms;
}

.bgImageComingSoon{
    display: block;
    width: calc(100vw - 26%);
    height: 500px;
    /* height: 100%; */
}

.bgImageComingSoon-hidden{
    display: none;
}

#buttonPrevComingSoon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 0%;
    top: 50%;
    border: none;
    border-radius: 50%;
    background-color: grey;
    width: 50px;
    height: 50px;
    font-size: 28px;
}

#buttonPrevComingSoon:hover{
    background-color: rgb(168, 168, 168);
    cursor: pointer;
}

#buttonNextComingSoon{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0%;
    top: 50%;
    border: none;
    border-radius: 50%;
    background-color: grey;
    width: 50px;
    height: 50px;
    font-size: 28px;
}

#buttonNextComingSoon:hover{
    background-color: rgb(168, 168, 168);
    cursor: pointer;
}

.pageComingSoon{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(233, 233, 233);
    border: none;

}

.pageComingSoon:hover{
    background-color: rgb(168, 168, 168);
    cursor: pointer;
}

.pagesComingSoon{
    width: 10%;
    display: flex;
    gap: 10px;
    
    position: absolute;
    bottom: 10px;
    right: 45%;
}

.pageComingSoon-inactive{
    background-color: grey;
}

.coverImageComingSoon{
    display: block;
    width: 100px;
    
    position: absolute;
    bottom: 0.7%;
    left: 20%;
    z-index: 15;
}

.titleComingSoon{
    display: block;
    position: absolute;
    bottom: 20%;
    left: 40%;
    z-index: 15;
}

.descriptionComingSoon{
    display: block;
    position: absolute;
    bottom: 10%;
    left: 40%;
    z-index: 15;
}

.titleComingSoon-hidden{
    display: none;
}

.descriptionComingSoon-hidden{
    display: none;
}

.coverImageComingSoon-hidden{
    display: none;
}